@import "_variables.scss";
@import "_mixins.scss";
#mainMenu{
    width: 100%;
    height:55px;
    padding-top: 40px;
    background-color: $color1;
}

.navigation{
    display: none;
    a{
        color:$color3;
        padding:38px;
        text-decoration: none;
        
    }
    a:hover{
        background-color:$color1Hover;
        @include textShadow($textShadow1)
    }
    float: left;
}

.log{
    float:right;
    margin-right:20px;
}


#seasonPick, #userName, #password, #logInBtn, #signIn, #logOutBtn{
    @include inputAndBtnStyle;
}

