@mixin textShadow($shadow) {
    text-shadow:$shadow;
}

@mixin floatDisplay {
    float:none;
    display:block;
}

@mixin dataTable {
    
    tr:nth-child(even){
        background-color:$color5;
    }
    
margin:30px auto;
width:90%;
background-color: $color4;
}

@mixin boxShadow($shadow){
    box-shadow: $shadow;
}

@mixin inputAndBtnStyle {
    background-color: rgba(252, 234, 233, 0.952);
    color: darken($color1, 30%);
    border-radius: 5px;
    border:none;
    height:30px;
}