@import "_mixins.scss";


@media screen and (max-width: 1024px){
    .navigation{
        text-align: center;
    }
    .dataTable{
        td{
            width: 20%;
            text-align: left;
            img{
                padding-right: 5px;
                float: left;
            }
        }
    }
    .race{
        width:95% !important;
        @include floatDisplay; 
    }
}


@media screen and (max-width: 768px){
    #wrapper{
        width:100%;
    }

    .dataTable{
        width: 100%;
        text-align: center;

        td{
            text-align: center;
            img{
                display: block;
                margin:5px auto;
                float: none;
            }
        }
    }

    .navigation{
        float:  left;
        width: 50%;
    }

    .fa-external-link-alt{
        display: block;
        margin:5px auto;
        float: none;
    }
}

@media screen and (max-width: 690px){
    #wrapper{
        width:100%;
        padding:10px;
        margin: 0 auto;
    }

    #mainMenu{
        padding-top:12px;
        height:150px;

    }
   .navigation{
      @include floatDisplay;
      width: 100%;
      margin-bottom:30px;

        a{
            &:hover{
                padding-top:10px;
            }
        }
   }

   .log{

       @include floatDisplay;
       margin: 0 auto;
       width:70%;
       text-align: center;

       #userName, #password{
        float:none;
        display: block;
        margin: 5px auto;
        width: 50%;
        }

        #logInBtn, #signIn{
            float:none;
            margin-bottom: 3px;
            width: 50%;
        }

        #logOutBtn, #seasonPick, #season{
            display:block;
            width:100%;
            margin:2px;
            text-align: center;
        }
   }
    #userName, #password{
        display: block;
        float:none;
        text-align: center;
    }
    .dataTable{
        width: 80%;
        td{
            text-align: center;
            img{
                @include floatDisplay;
            }
        }
    }
    
}

@media screen and (max-width: 580px){
    #wrapper{
        width: 100%;
        
    }
    #mainMenu{
        width:100%;
    }
    
    .dataTable{
       
        width: 100%;
        th,tr,td{
            width: 20%;
        }
    }
    .race{
        width:95% !important;
        @include floatDisplay; 
    }
}