@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_mainMenu.scss";
@import "_responsive.scss";

#homeImg{
    width: 100%;
    height: 700px;
}
#wrapper{
    width:90%;
    min-height: 450px;
    margin:30px auto 30px auto;
    background-color: $bgColor1;
    font-family: $font1;
    padding:10px;
} 

.dataTable{
    a{
        color:$color2;
        text-decoration:none;
        &:hover{
            color:$color1Hover;
        }
        &:active{
            color:darken($color1Hover, 20%);
        }
    }
    
@include dataTable;
}
.race{
    float: left;
    width: 48%;
    margin-right: 1%;

}

.driverDataTable{
    @include dataTable;
    width:40%;

    #seasonAverage{
        width:40%;
        font-weight: bold;
    }
}

.dataTable, thead, tr, td{
    border: $border1;
    padding:10px;
}

thead{
    
    th{
        padding-top:20px;
        height: 40px;
    }
    font-weight: bold;
}


.fa-external-link-alt{
    float:right;
}

span{
    font-size: 14px;
    color: $color3;
    text-shadow: 4px 4px 4px $color2;
}

