<table class="driverDataTable">

    <tr>
        <td rowspan="3"><img style="display:block; margin:0 auto;" src="../img/drivers/{{driverData.driverId}}.png"
                alt=""></td>
        <td>Name</td>
        <td>{{driverData.givenName}} {{driverData.familyName}}</td>
    </tr>
    <tr>
        <td>Date of birth</td>
        <td>{{driverData.dateOfBirth}}</td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td><img style="width:35px; height:20px" src="../img/flags/{{driverData.nationality}}.png" alt="">
             {{driverData.nationality}}</td>
    </tr>


</table>


<table class="dataTable">
    <thead>
        <th>Round</th>
        <th>Race</th>
        <th>Position</th>
        <th>Points</th>
        <th>Fastest Lap</th>
        <th>Average Speed</th>
        <th>Status</th>

    </thead>

    <tbody>
        <tr ng-repeat="results in driverResults">
            <td>{{results.round}}</td>
            <td><img src="../img/flags/{{results.Circuit.Location.country}}.png" alt=""> {{results.raceName}}</td>
            <td>{{results.Results[0].position}}</td>
            <td>{{results.Results[0].points}}</td>
            <td>{{results.Results[0].FastestLap.Time.time}}</td>
            <td>{{results.Results[0].FastestLap.AverageSpeed.speed}}
                {{results.Results[0].FastestLap.AverageSpeed.units}}</td>
            <td>{{results.Results[0].status}}</td>
        </tr>
    </tbody>
</table>