<table class="dataTable">
    <thead>
        <tr>
            <th colspan="4">F1 Drivers - Season {{choosenSeason}}</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Team</th>
            <th>Points</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="driver in drivers">
            <td>
                <a href="#!/drivers/{{driver.Driver.driverId}}">
                    <img style="width:35px; height:20px" src="./../img/flags/{{driver.Driver.nationality}}.png" alt="">
                     {{driver.Driver.givenName }} {{driver.Driver.familyName}}<a href="{{driver.Driver.url}}"
                        target="blank"><i class="fas fa-external-link-alt"></i></a></td>
            <td>{{driver.Driver.dateOfBirth}}</td>
            <td>{{driver.Constructors[0].name}}</td>
            <td>{{driver.points}}</td>
        </tr>
    </tbody>
</table>