<table class="driverDataTable">

    <tr>
        <td>Name</td>
        <td>{{raceData.raceName}}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td><img src="../img/flags/{{raceData.Circuit.Location.country}}.png" alt="">
             {{raceData.Circuit.Location.country}}</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{raceData.date}}</td>
    </tr>
    <tr>
        <td>Locality</td>
        <td>{{raceData.Circuit.Location.locality}}</td>
    </tr>
    <tr>
        <td>Average min Qual. time</td>
        <td>{{bestTimeQ()}}</td>
    </tr>
    <tr>
        <td>Average max Qual. time</td>
        <td>{{slowestTimeQ()}}</td>
    </tr>
    <tr>
        <td>Average Qual. time</td>
        <td>{{averageTimeQ()}}</td>
    </tr>


</table>



<table class="dataTable race">
    <thead>
        <tr>
            <th colspan="5">Race Results - Season {{choosenSeason}}</th>
        </tr>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Team</th>
            <th>Fastest Lap</th>
            <th>Points</th>

        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="position in race">
            <td>{{position.position}}</td>
            <td>

                <img style="width:35px; height:20px" src="./../img/flags/{{position.Driver.nationality}}.png"
                    alt=""> {{position.Driver.familyName}}

                <a href="{{position.Driver.url}}" target="blank"><i class="fas fa-external-link-alt"></i></a>
            </td>
            <td><img style="width:35px; height:20px" src="./../img/flags/{{position.Constructor.nationality}}.png"
                    alt=""> {{position.Constructor.name}}<a href="{{position.Constructor.url}}" target="blank"><i
                        class="fas fa-external-link-alt"></i></a></td>
            <td>{{position.FastestLap.Time.time}}</td>
            <td>{{position.points}}</td>
        </tr>
    </tbody>
</table>

<table class="dataTable race">
    <thead>
        <tr>
            <th colspan="5">Qualifications - Season {{choosenSeason}}</th>
        </tr>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Best Q time</th>
            <th>Slowest Q time</th>
            <th>Average time</th>

        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="position in qualifying">
            <td>{{position.position}}</td>
            <td>

                <img style="width:35px; height:20px" src="./../img/flags/{{position.Driver.nationality}}.png"
                    alt=""> {{position.Driver.familyName}}

                <a href="{{position.Driver.url}}" target="blank"><i class="fas fa-external-link-alt"></i></a>
            </td>
            <td>{{bestTime($index)}}</td>
            <td>{{slowestLap($index)}}</td>
            <td>{{averageTime($index)}}</td>
        </tr>
    </tbody>
</table>