<table class="driverDataTable">

    <tr>
        <td>Average qualifying time per season</td>
        <td id="seasonAverage">{{timeFormat}}</td>
    </tr>
    
</table>

<div id="chart"></div>

<table class="dataTable">
    <thead>
        <tr>
            <th colspan="6">F1 Races - season {{choosenSeason}}</th>
        </tr>
        <tr>
            <td>Round</td>
            <td>Race Name</td>
            <td>Circuit Name</td>
            <td>Date</td>
            <td>Winner</td>
            <td>Team</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="race in races">
            <td>{{race.round}}</td>
            <td>
                <img src="./../img/flags/{{race.Circuit.Location.country}}.png" alt="">
                <a href="#!/races/{{race.round}}">
                     {{race.raceName}}
                </a> <a href="{{race.url}}" target="blank"><i class="fas fa-external-link-alt"></i></a>
            </td>
            <td>{{race.Circuit.circuitName}}</td>
            <td>{{race.date}}</td>
            <td>{{race.Results[0].Driver.familyName}}</td>
            <td>
                
                    <img style="width:35px; height:20px"
                        src="./../img/flags/{{race.Results[0].Constructor.nationality}}.png"
                        alt=""> {{race.Results[0].Constructor.name}}
                    <a href="{{race.Results[0].Constructor.url}}" target="blank"><i
                            class="fas fa-external-link-alt"></i></a></td>
            </a>
        </tr>
    </tbody>
</table>