html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#mainMenu {
  width: 100%;
  height: 55px;
  padding-top: 40px;
  background-color: #ee2424;
}

.navigation {
  display: none;
  float: left;
}

.navigation a {
  color: white;
  padding: 38px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: rgba(179, 6, 6, 0.596);
  text-shadow: 5px 5px 5px black;
}

.log {
  float: right;
  margin-right: 20px;
}

#seasonPick, #userName, #password, #logInBtn, #signIn, #logOutBtn {
  background-color: rgba(252, 234, 233, 0.952);
  color: #700909;
  border-radius: 5px;
  border: none;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .navigation {
    text-align: center;
  }
  .dataTable td {
    width: 20%;
    text-align: left;
  }
  .dataTable td img {
    padding-right: 5px;
    float: left;
  }
  .race {
    width: 95% !important;
    float: none;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #wrapper {
    width: 100%;
  }
  .dataTable {
    width: 100%;
    text-align: center;
  }
  .dataTable td {
    text-align: center;
  }
  .dataTable td img {
    display: block;
    margin: 5px auto;
    float: none;
  }
  .navigation {
    float: left;
    width: 50%;
  }
  .fa-external-link-alt {
    display: block;
    margin: 5px auto;
    float: none;
  }
}

@media screen and (max-width: 690px) {
  #wrapper {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  #mainMenu {
    padding-top: 12px;
    height: 150px;
  }
  .navigation {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .navigation a:hover {
    padding-top: 10px;
  }
  .log {
    float: none;
    display: block;
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  .log #userName, .log #password {
    float: none;
    display: block;
    margin: 5px auto;
    width: 50%;
  }
  .log #logInBtn, .log #signIn {
    float: none;
    margin-bottom: 3px;
    width: 50%;
  }
  .log #logOutBtn, .log #seasonPick, .log #season {
    display: block;
    width: 100%;
    margin: 2px;
    text-align: center;
  }
  #userName, #password {
    display: block;
    float: none;
    text-align: center;
  }
  .dataTable {
    width: 80%;
  }
  .dataTable td {
    text-align: center;
  }
  .dataTable td img {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 580px) {
  #wrapper {
    width: 100%;
  }
  #mainMenu {
    width: 100%;
  }
  .dataTable {
    width: 100%;
  }
  .dataTable th, .dataTable tr, .dataTable td {
    width: 20%;
  }
  .race {
    width: 95% !important;
    float: none;
    display: block;
  }
}

#homeImg {
  width: 100%;
  height: 700px;
}

#wrapper {
  width: 90%;
  min-height: 450px;
  margin: 30px auto 30px auto;
  background-color: #fffdfd;
  font-family: Arial, Sans-Serif;
  padding: 10px;
}

.dataTable {
  margin: 30px auto;
  width: 90%;
  background-color: #f7f7f7;
}

.dataTable a {
  color: black;
  text-decoration: none;
}

.dataTable a:hover {
  color: rgba(179, 6, 6, 0.596);
}

.dataTable a:active {
  color: rgba(80, 3, 3, 0.596);
}

.dataTable tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.966);
}

.race {
  float: left;
  width: 48%;
  margin-right: 1%;
}

.driverDataTable {
  margin: 30px auto;
  width: 90%;
  background-color: #f7f7f7;
  width: 40%;
}

.driverDataTable tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.966);
}

.driverDataTable #seasonAverage {
  width: 40%;
  font-weight: bold;
}

.dataTable, thead, tr, td {
  border: 0.5px solid rgba(134, 132, 128, 0.712);
  padding: 10px;
}

thead {
  font-weight: bold;
}

thead th {
  padding-top: 20px;
  height: 40px;
}

.fa-external-link-alt {
  float: right;
}

span {
  font-size: 14px;
  color: white;
  text-shadow: 4px 4px 4px black;
}
/*# sourceMappingURL=style.css.map */